body {
  margin: 0;
  text-align: center;
}
.intern
{
  width: 25%;
  float: right;

}

h1 {
  margin-top: 0;
  font-size: 65px;
  font-family: cursive;
}

p {
  font-family: fantasy;
}

.skill-row
{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;


}
.skill
{
  width: 25%;
  float: left;
}
.top {
  background-color: Grey;
  padding-top: 90px;
}

.bottom-cloud {
  position: absolute;
}

.top-cloud {
  margin-left: 450px;
}
